.about-us-container h1{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.about-items p{
    margin-bottom: 2%;
}

.about-items img{
    width: 70%;
}

.about-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    text-align: center;
}